*{margin: 0;
padding: 0;}
body {background-color: #EDEDEB;}


/* header */
.inline-block
{display: inline-block; 
vertical-align: middle;}

li.inline-block
{margin:0% 1% 0%;}

a{color: black;
text-decoration: none;
cursor: pointer;}

div.inline-block.logo {width: auto;}

.logo { 
padding: 1%;
text-align: left;}

nav { 
height:105px; 
width: 100%;
text-align: right;
display: inline-block;}


header{
display: inline-block;
margin-bottom: 10rem;}

.navigation {
display: inline-block;
width: 98.5%;
margin-right:1.5%}

li{width: 80px;
display: inline-block; 
margin-left: 0%;
margin-right: 0%;
border-bottom: 2px solid #636266;
text-align: left;}

ul.navigation {
padding-top: auto;
padding-bottom:  auto;
margin-top: 2rem; 
font-family: "Catamaran",sans-serif;
 font-size: 18px;
 font-weight: 800;} 

a.navi {color: #636266;}

a#on.active {color: #000000;}

#active{border-bottom: 4px solid black;}

.logoImage {
width: 85px;
height: auto;}

nav.inline-block {text-align: right;}


/* heroimg */
p.intro {
font-family: "Montserrat", sans-serif;
font-size: 20.3px;}

p#instructions {
font-family: "Montserrat", sans-serif;
font-size: 20.3px;}

.heroImg {
height: 600px;
padding-left: 25%;
padding-right: 25%;}

.content {
width: 100%; 
margin: 0 auto;}

.intro {
margin-top:3rem;
text-align: center;
text-align: center;}

.greeting {
margin-top: auto;
margin-bottom:auto;}

.introduction{
display: flex;
justify-content:center;
margin-left: 3.8%;}

body {
height: 100%;
display: flex; 
flex-direction: column;}

footer{flex-shrink: 0;}

h1.greeting {
font-family: "Catamaran",sans-serif;
font-size: 32.5px;
font-weight: bold;}



/* my work starts here */
.myWork {
display: inline-block;
justify-content: center;
margin-top: 2vw;
margin-bottom: 10px;}

#workTitle {
text-align: center;
display: flex;
justify-content: center;}

h1#myWorkTitle {
font-family: 'Catamaran', sans-serif;
width:100%;
margin-bottom: 2rem;}

/* HomesFirst */




.projectHomes {
display: grid;
grid-template-columns: 1fr 1fr;
grid-area: projectHImage projectHBody;
background-color: rgba(188, 207, 236, 75%);
min-height: 1000px;}

.projectHBody {
display:flex;
flex-direction: column; 
width:auto;
justify-content: center;
width: 49%;
padding-left: 1%;}

.projectHImage {
background-image: url(../images/homesFirstImage.png);
background-size: 130% auto;
background-repeat: no-repeat;
background-position-x: 400%;
background-position-y: 50%;
max-height: 100%;}

#homesH1{
padding:10px;
font-family: 'Oswald',sans-serif;
font-size: 52px;}

#homesH2{
padding:10px;
font-family: 'Oswald',sans-serif;
font-size: 32.5px;
font-weight: 400;}

#homesP{
padding:10px;
padding-top: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 20.31px;}

#homesA{
padding:10px;
padding-top: 40px;
font-family: 'Montserrat', sans-serif; 
font-size: 20.31px;
text-decoration: underline;
text-decoration-style: wavy;
text-decoration-thickness: 2px;}

#homesA:hover {
text-decoration-style: solid;
text-decoration-thickness: 1px;}

/* BeautyConcierge */

.projectBeauty {
display: grid;
grid-template-columns: 1fr 1fr;
grid-area:projectBBody projectBImage;
background-color:rgba(180, 168, 213, 75%);
min-height: 1000px;}

.projectBBody {
display:flex;
flex-direction: column; 
width:auto;
justify-content: center;
align-items: right;
margin-left:40%;
width: 49%;
padding-right: 1%;}

.projectBImage {
background-image: url(../images/beautyImage.png);
background-size: 130% auto;
background-repeat: no-repeat;
background-position-x: -1000%;
background-position-y: 50%;
max-height: 100%;}

#beautyH1{
padding:10px; 
font-family: 'Oswald',sans-serif;
font-size: 52px;}

#beautyH2{
padding:10px;
font-family: 'Oswald',sans-serif;
font-size: 32.5px;
font-weight: 400;}

#beautyP{
padding:10px;
padding-top: 20px;
font-family: 'Montserrat', sans-serif; 
font-size: 20.31px;}

#beautyA{
padding:10px;
padding-top: 40px;
font-family: 'Montserrat', sans-serif;
font-size: 20.31px;
text-decoration: underline;
text-decoration-style: wavy;
text-decoration-thickness: 2px;}

#beautyA:hover {
text-decoration-style: solid;
text-decoration-thickness: 1px;}

/* BeeLocal */

.projectBeeL {
display: grid;
grid-template-columns: 1fr 1fr;
grid-area: projectBLImage projectBLBody;
background-color:rgba(253, 180, 44, 75%);
min-height: 1000px;}

.projectBLBody {
display:flex;
flex-direction: column;
width:auto;
justify-content: center;
width: 49%;
padding-left: 1%;}

.projectBLImage {
background-image: url(../images/beeLocalImage.png);
background-size: 80% auto;
background-repeat: no-repeat;
background-position-x: -1000%;
background-position-y: 50%;
max-height: 100%;}

#beeLH1{
padding:10px; 
font-family: 'Oswald',sans-serif;
font-size: 52px;}

#beeLH2{
padding:10px;
font-family: 'Oswald',sans-serif;
font-size: 32.5px;
font-weight: 400;}

#beeLP{
padding:10px;
padding-top: 20px;
font-family: 'Montserrat', sans-serif; 
font-size: 20.31px;}

#beeLA{
padding:10px;
padding-top: 40px;
font-family: 'Montserrat', sans-serif; 
font-size: 20.31px;
text-decoration: underline;
text-decoration-style: wavy;
text-decoration-thickness: 2px;}

#beeLA:hover {
text-decoration-style: solid;
text-decoration-thickness: 1px;}

/* footer starts here */

/* footer top*/


.backgroundImg {
height: fit-content;
margin-bottom: -1px; }

.backgroundImg.image {
background-image:url(../images/city.png);
background-size: auto;
height: 1100px;
background-position: center;}

.footerBottom { background-color: black;}

.footerBottomContainer {
width: 60%;
height:auto; 
background-color: black;
color: white;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 0 auto;
flex-direction: row;
padding-bottom: 4rem;}

.form {
grid-area: form;
text-align: center;
margin-left: 20%;}

.formFlex{
padding-top: 0.5rem;
padding-bottom:0.5rem;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
font-family: 'Oswald',sans-serif;
font-size: 20.31px;
font-size: 20.31px;
background-color: black; 
color: white; 
border:4px solid white;
border-left:none;
border-right:none;
border-top:none;}

input.formFlex{
width: 100%;
outline: none;}

textarea.formFlex{
width: 100%;
line-height: 4ch; 
border:2px solid white;
border-radius: 5px;
resize:none;
outline: none;
font-size: 20.31px;}

.formFlex#button {
margin-top: 1rem;
background-color: white;
color: black;
border-radius: 4px;
width: 50%;
text-align: center;
margin-left: auto;
margin-right: auto;
font-weight: bold;
cursor: pointer;
font-size: 20.31px;}

.footerBlock1 {width: 49%;}

.footerBlock2 {
width: 49%;
display:flex;
flex-direction: column;
margin-left: 0;}

.idea {
font-family: 'Catamaran', sans-serif;
font-size: 32.5px; 
font-weight: 600;}

.idea.lightH {
font-weight: 200;
margin-top: -8%;}

p.pitch {
margin-top: 3rem;
margin-bottom: 3rem; 
text-align: left;
padding-right: 25%;
font-family: 'Catamaran', sans-serif;
font-size:400; 
font-size: 20.3px;}

.socialMedia {
display: flex;
justify-content: space-between;
padding-right: 25%;}

.copyRight {
font-size: 16px;
font-weight: 200;
font-family: 'Montserrat', sans-serif; 
text-align: center; 
padding-right: 25%; 
margin-top: 4rem;}

/* for footer top */
#connect {
font-family: 'Montserrat', sans-serif; 
text-align: center;
display: flex; 
font-weight: 500;
font-size: 54px;
justify-content: center;
padding-top: 25%;
padding-left: 25%;
padding-right: 25%;}


.socialMediaMobile {display: none;}

.copyRightMobile {display: none;}







/* This is the about me page stuff */

/* professionalme */
.professionalMeSection {
display: grid;
grid-template-columns: 1fr 1fr;
grid-area: professionalImage professionalBody;
background-color: rgba(196, 196, 196, 75%);
min-height: 1000px;}

.professionalBody {
display:grid;
grid-template-rows: 15% 35% 15% 35%;
grid-area: professionalHeader professionalBody professionalSkillsHeader professionalSkillsBody;
margin-top: 22%;
margin-bottom: 22%;
max-width: 800px;}

.professionalImage {
background-image: url(../images/professionalMeImg.png);
background-size: auto;
background-repeat: no-repeat;
background-position: center;}

h1#professionalHeader {
font-family: 'Catamaran',sans-serif;
font-size: 52px; 
justify-content: center;
text-align: center;}

#professionalTextBody {
font-family: 'Montserrat', sans-serif;
font-size: 20.31px;
text-align: center; 
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 2rem;}

.professionalSkillsHeader {
font-family: 'Catamaran',sans-serif;
font-size: 32.5px;
padding: 1rem 2rem; 
justify-content: center;
text-align: center;}

.professionalSkillsBody {
justify-content: center;
text-align: left;}

p#professionalSkills {
font-family: 'Oswald',sans-serif;
font-size: 20.31px;
padding: 1rem 2rem;}

/* personal me */
.personalMeSection {
display: grid;
grid-template-columns: 1fr 1fr;
grid-area: personalBody personalImage;
background-color: rgba(253, 180, 44, 75%);
min-height: 1000px;}

.personalBody {
display:grid;
grid-template-rows: 10% 45% 15% 30%;
grid-area: personalHeader personalBody personalSkillsHeader personalSkillsBody;
margin-top: 22%;
margin-bottom: 22%;
max-width: 800px;
margin-left: 25%;}

.personalImage {
background-image: url(../images/personalMeImg.png);
background-size:auto;
background-repeat: no-repeat;
justify-content: center;
background-position: center;
background-size: 75%;
margin: 0 2rem;}

h1#personalHeader {
font-family: 'Catamaran',sans-serif;
font-size: 52px; 
justify-content: center;
text-align: center;}

#personalTextBody {
font-family: 'Montserrat', sans-serif;
font-size: 20.31px; 
text-align: center; 
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 2rem;}

.personalSkillsHeader {
font-family: 'Catamaran',sans-serif;
font-size: 32.5px;
padding: 1rem 2rem; 
justify-content: center;
text-align: center;
margin-top: 2rem;}

.personalSkillsBody {
justify-content: center;
text-align: left;}

p#personalSkills {
font-family: 'Oswald',sans-serif;
font-size: 20.31px;
padding: 1rem 2rem;}



/* resume page */

iframe {
justify-content: center;
justify-self: center;
text-align: center;}

.resumeDownload {margin-top: 8rem;}

button#resumeDownload {
background-color:rgb(253, 180, 44);
border: none;
font-family: "Catamaran",sans-serif;
font-size: 20.31px;
color: white;
font-weight: 600;
border: none;
padding:20px 40px;
cursor: pointer;
border-radius: 5px;
width: 300px;
margin-bottom: 4rem;}

button#resumeDownload:active {
top:1px;
border:none} 




/* media queries */
@media only screen and (max-width: 1000px){

.projectHImage {background-size: 200%;}

.projectBImage {background-size:200%}

.projectBLImage {background-size: 100%}

h1#connect{padding: 0% 10% 0%;}

nav {max-width: 77%;}

.resume {
display: none;
height: 0px;}

h1.greeting {
text-align: center;
font-size: 27.5px;}

.heroImg{
padding-left: 15%;
padding-right: 15%;}
}

@media only screen and (max-width: 700px){

img.logoImage {
width: 50px;
height: auto;}

div.inline-block.logo {width: auto;}

ul.navigation{margin-top: 1.5rem;}

.introduction{ flex-direction: column;}

h1.greeting {
text-align: center;
font-size: 27.5px;}

.heroImg{
padding-left: 15%;
padding-right: 15%;}

p.intro{font-size: 16px;}

p#instructions{
font-size: 16px;
margin-top: 4rem;}

/* homes first */

.projectHImage {
background-size: 500%;
background-position-x: 85%;}

#homesH1 {font-size: 32.5px;}

#homesH2 {
width: auto;
font-size: 20.31px;}

#homesP {font-size: 16px;}

#homesA {font-size: 16px;}

.projectHBody {width: 100%;}

.projectHomes {min-height: 800px;}

/* beauty ocncierge */
.projectBeauty {min-height: 800px;}

.projectBBody {
align-items: left;
margin-left: 1%;
width: 100%;}

.projectBImage {
background-size: 500%;
background-position-x: 5%;
background-position-y: 45%;}

#beautyH1 {font-size: 32.5px;}

#beautyH2 {
width: auto;
font-size: 20.31px;}

#beautyP {font-size: 16px;}

#beautyA {font-size: 16px;}


/* beelocal */
.projectBLImage {
background-size: 250%;
background-position-x: 65%;
background-position-y: 50%;}

#beeLH1 {font-size: 32.5px;}

#beeLH2 {
width: auto;
font-size: 20.31px;}

#beeLP {font-size: 16px;}

#beeLA {font-size: 16px;}

.projectBLBody {width: 100%;}

.projectBeeL {min-height: 800px;}


/* footer */
#connect {
font-size: 32.5px;
margin-top: 2rem;}

.backgroundImg.image {
background-size: 500%;
background-repeat: no-repeat;
background-position-y: bottom;
margin-bottom: -2px;
height: 550px;}

.footerBottomContainer {
flex-direction: column;
width: 90%;}

.footerBlock1 {
width: 90%;
text-align: left;
align-items: center;
justify-self: center;
justify-content: center;
margin: 0 auto;
padding-bottom: 2rem;}

p.pitch {padding-right: 0%;}

.socialMedia {display: none;}

.copyRight {display: none;}

.footerBlock2 {width: 100%;}

.form {
margin-left: 1%;
margin-right: 1%;}

.socialMediaMobile {
display:inherit ;
width:100%;
margin:0 auto;
text-align: center;}

p.copyRightMobile {
display: inherit;
color:white;
font-size: 16px;
font-weight: 200;
font-family: 'Montserrat', sans-serif;
text-align: center;
padding-bottom: 2rem;
padding-top: 2rem;}

img.socialIcon {margin:0 9px 0;}

}
/* about me page */
@media only screen and (max-width: 750px){
    /* professional me */

h1#professionalHeader {
font-size: 32.5px; 
justify-content: center;}

.professionalHeader {margin-top: 4rem;}

#professionalTextBody {
font-size: 16px; 
text-align: center;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 2rem;}

.professionalSkillsHeader {
font-size: 27.5px;
padding: 0rem 1rem;
margin-top: 4rem; 
justify-content: center;
text-align: center;}

p#professionalSkills {
font-size: 16px;
padding: 4px 8px;}

/* personal me */
h1#personalHeader {
font-size: 32.5px; 
justify-content: center;}

.personalHeader {
margin-top: 2rem;
margin-bottom: 2rem;}

#personalTextBody {
font-size: 16px; 
text-align: center; 
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 2rem;}

.personalSkillsHeader {
font-size: 27.5px;
padding: 0rem 1rem;
margin-top: 4rem; 
justify-content: center;
text-align: center;}

p#personalSkills {
font-size: 16px;
padding: 4px 8px;
margin-top: 1rem;}

.personalBody{
width: 100%;
margin:22% 1% 22%;}

.personalImage{
background-size: 250%;
margin: 0;}

.personalMeSection {margin-bottom: 4rem;}
}

@media only screen and (max-width: 560px){
nav {max-width: 75%;}}


@media only screen and (min-width: 1001px){

nav.inline-block{
float: right;
max-width: 80%;}

}






